#twitter .header,
#twitter .container {
  padding: 20px;
  min-height: 25vh;
  margin-bottom: 40px;
  text-align: center;
}

#twitter .container {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  flex-wrap: wrap;
  justify-content: center;
}

#twitter .container .donor {
  display: flex;
  margin: 20px;
  padding: 20px;
  width: 100%;
  max-height: 100px;
  background-color: #0C0E11;
  box-shadow: 0 9px 30px 0 rgba(7, 10, 12, .1);
  border-radius: 3px;
  text-align: left;
  transform: translateY(0);
  transition: all .2s cubic-bezier(.175, .885, .32, 1.275);
}
#twitter .container .donor:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 30px 0 rgba(7, 10, 12, .2);
}
#twitter .container .donor:active {
  transform: scale3d(0.95, 0.95, 0.95);
}

#twitter .container .donor .details {
  align-self: center;
}

#twitter .container .donor .details .duration {
  font-size: .9em;
}
#twitter .container .patron.donor .details .duration {
  color: #F96854;
}
#twitter .container .former.donor .details .duration {
  color: #469bdb;
}

@media only screen and (min-width: 640px) {
  #twitter .container .donor {
    width: 40%;
  }
}
