header {
  height: 72px;
}

header .headerLogo {
  padding: 15px;
  transition: filter .4s cubic-bezier(0.86, 0, 0.07, 1);
}
header .headerLogo:hover {
  filter: contrast(115%);
}

header .innerHeader {
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
}
